* {
    font-family: poppins;
}
body {
    margin: auto;
}
.text-highlight {
   color: #3C2777;
}
.link {
   color: hsl(256, 51%, 31%);
   font-weight: 600;
    margin: auto;

}
/* HEADER */
.header-container {
    display: flex;
    border-bottom: 1px solid #F2F2F2;
    padding: 1em 0;
    align-items: center;
}
.logo {
    margin-right: 5em;
    margin-left: 5em;
}
.navigation-menu a {
    text-decoration: none;
    margin-right: 2em;
    color: black;
}
/* HEADER END */

.page-title,
.sub-title  {
    text-align: center;
    overflow: visible;
}
.page-title {
    margin: auto;
    display: block;
    align-items: center;
    width: 66%;
    padding-top: 4em;
}
.sub-title {
    font-size: medium;
    font-weight: 50;
    width: 84%;
    margin: auto;
    margin-top: 2em;
}
.title-subtitle-container {
    position: absolute;
    top: 4em;
    z-index: 1;
    width: 100%;
}
.left-gradient-container {
    background: radial-gradient(circle at center left, #B6F5FE, transparent 19%);
    height: 50vh;
}
.radial-pink-right {
    position: absolute;
    right: 0em;
    top: 3em;
    z-index: 1;
}
.radial-yellow-right {
    position: absolute;
    right: 15em;
    top: 3em;
}
.radial-blue-left {
    position: absolute;
    top: 3em;
    left: -46em;
    width: 100%;
}
/* Read more btn */
.read-more-icon {
    margin-left: 0.3em;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .250s ease-in-out;
}
.read-more-state {
    display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
    content: 'Lire plus +';
}
.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Lire moins -';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #3C2777;
    line-height: 3;
    display: block;
    margin: auto;
    width: fit-content;
}
/* Read more btn END */

/* CONTACT CONTAINER */
.contact-container {
    position: absolute;
    top: 33em;
    left: 15%;
    width: 70%;
}
.background-rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2%;
    background-color: #F9F3FF;
    border-radius: 20px;
    padding: 1.5em 1em;
}
.icon-and-indication {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
}
.contact-label {
    margin: auto;
    margin-bottom: 10px;
}

/* MY PROJECTS */

.my-projects-container {
    position: relative;
    top: 40em;
    text-align: center;
}
.smaller-radial {
    position: absolute;
    top: -0.5em;
}
.projects-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 85%;
    z-index: 99;
}
.project-cart {
    height: 21em;
    width: 20em;
    border-radius: 15px;
    margin-top: 5em;
}
.img-container {
    height: 13em;
    background-position: center;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.img-weather {
    background-image: url("../assets/weather-app-project-img.jpg");
    height: 13em;
    background-position: center;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.img-pitchouns {
    background-image: url("../assets/pitchouns-img.jpg");
}
.img-dictionary {
    background-image: url("../assets/dictionary-img.jpg");
}
.project-info-container h4,
.project-info-container p {
    text-align: left;
}
.paragraph {
    margin-right: 1em;
}
.p-second {
    margin-top: 0px;
}
.project-info-container {
    padding: 1em 1.5em;
    background-color: white;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
.project-info-small-container {
    padding: 2.2em 1.5em;
    background-color: white;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
.project-info-small-container h4,
.project-info-small-container p {
    text-align: left;
}
.project-details {
    display: flex;
    align-items: center;
}
.github-info {
    text-align: initial;
    display: flex;
}
.icon-spacer {
    margin-right: 0.5em;
}
/* svgs radials */

.radial-absolute {
    position: absolute;
    z-index: 1;
}
.radial-blue-projects-section {
    left: -13em;
    top: -8em;
}
.radial-pink-projects-section {
    left: 33em;
    z-index: 0
}
.radial-yellow-projects-section {
    left: 80em;
}
/* svgs radials - end */

/* Design section */

.design-section {
    position: relative;
    top: 13em;
}

/* Design section - end */

/* MY PROJECTS END */