* {
    font-family: poppins;
}
body {
    margin: auto;
}
.text-highlight {
   color: #3C2777;
}
.header-container {
    display: flex;
    border-bottom: 1px solid #F2F2F2;
    padding: 1em 0;
    align-items: center;
}
.logo {
    margin-right: 5em;
    margin-left: 5em;
}
.navigation-menu a {
    text-decoration: none;
    margin-right: 2em;
    color: black;
}
main {
    margin-left: 5em;
    margin-left: 5em;
}
.page-title,
.sub-title  {
    text-align: center;
}
.sub-title {
    font-size: medium;
    font-weight: 50;
}